header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 1rem;
    height: 50px;
}

/*Mobiles*/
@media (max-width: 768px) {
    .logo {
        height: 60px;
        margin-bottom: 2rem;;
    }
}


/*Desktop*/
@media (min-width: 769px) {
    .logo {
        position: relative;
        height: 70px;
        

    }
}



